<!DOCTYPE html>
<html>
  <head>
    <title>test</title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  </head>
  <body>
    <header>
    Hello, <%= user.username %> 
    <div class="social-login-buttons"><a class="btn btn-link-1"  href="/logout">logout</a></div>
    </header>
    <h1>Bienvenue sur les statiques de l'organisation  <%=Organization%></h1>
    Nombre total de members : <%=Members%> 
    Membres avec au moins un dépôt : <%=With_repositories%></br>
    Dépôts d'organisations : <%=Organization_repositories%>
    Dépôts des membres de l'organisation : <%=Organization_members_repositories%>
    
    <!-- graph -->
    <canvas id="Language" style="position: relative; height:40vh; width:80vw"></canvas>
    <canvas id="repo" style="position: relative; height:40vh; width:80vw"></canvas>
    






<script>
    var ctx = document.getElementById('repo').getContext('2d');
    var chart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: ['coblestone','java','rr'],
          datasets: [
            {
              label: "Top des répertoires de l'organisation",
              backgroundColor: 'rgb(0, 255, 132)',
              borderColor: 'rgb(255, 0, 0)',
              data: [0,1,3],
          },
        ]
      },
      options: {
        responsive:true
      }
    });
  </script>

    <script>
      let topLangagesOrganization ="<%=Organization_top_languages%>";
      topLangagesOrganization=topLangagesOrganization.split(',')
      let topLangageScoreOrganization=[]
      for(var i=0;i<topLangagesOrganization.length;i++){
        var tmp=topLangagesOrganization[i].split(':')
        topLangageScoreOrganization.push(tmp[1])
      }

      let topLangages ="<%= Top_languages%>";
      topLangages=topLangages.split(',')
      let topLangageTitle=[]
      let topLangageScore=[]
      for(var i=0;i<topLangages.length;i++){
        var tmp=topLangages[i].split(':')
        topLangageTitle.push(tmp[0])
        topLangageScore.push(tmp[1])
      }
   

      var ctx = document.getElementById('Language').getContext('2d');
      var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'radar',
        // The data for our dataset
        data: {
            labels: topLangageTitle,
            datasets: [
              {
                label: "Langage utilisé sur les répertoires de l'organisation",
                backgroundColor: 'rgb(0, 255, 132)',
                borderColor: 'rgb(255, 0, 0)',
                data: topLangageScoreOrganization,
            },
            {
                label: "Langage utilisé sur les répertoires des membres de l'organisation",
                fill:true,
                backgroundColor:"rgba(54, 162, 235, 0.2)",
                borderColor:"rgb(54, 162, 235)",
                pointBackgroundColor:"rgb(54, 162, 235)",
                pointBorderColor:"#fff",
                pointHoverBackgroundColor:"#fff",
                pointHoverBorderColor:"rgb(54, 162, 235)",
                data: topLangageScore,
            }
          ]
        },
        options: {
          responsive:true
        }
      });
    </script>
  
  </body>
</html>
